html, body, #root {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

/* Cards portfolio */
.project-card{
  height: auto;
  min-height: 100%;
}

.card-img-wrapper{
  height:200px;
  overflow:hidden;
}

.card-img-wrapper img{
  width:100%;
  height:100%;
  object-fit:cover;
}
